@import url('https://fonts.googleapis.com/css2?family=Jockey+One&family=Michroma&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/* font-family: "Michroma", serif; */

@import url('https://fonts.googleapis.com/css2?family=Jockey+One&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/* font-family: "Jockey One", sans-serif; */


.Ads-colunas{
    width: 250px;
}
.conteudo-pagina{
    display: flex;

    flex-direction: row;
}